// Variables

//Colours
$red: #E20613;
$yellow: #FFB300;
$dark-grey: #333333;
$light-grey: #CCCCCC;

//Fonts
$heading-font: 'Poppins', sans-serif;
$body-font: 'Roboto', sans-serif;

//Transitions
$main-transition: 0.3s ease-in-out;