// Navigation

/* Nav Bar */

nav {
  width: 100%;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 0.8rem 0;
}

#logo {
  width: 24rem;
  height: auto;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-links {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
  }

  li {
    margin: 0 0.8rem;
    cursor: pointer;
  }
}

#search-icon {
  height: 2rem;
  width: auto;
  margin-top: 0.8rem;
}

.nav-link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0.8rem;

  svg {
    height: 1.6rem;
    width: auto;
  }
}

.account-basket {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    height: 2.4rem;
    width: auto;
  }
}

#account-icon {
  margin-right: 1.6rem;
}

.basket-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

  svg {
    margin-right: 0.8rem;
    fill: white;
  }
}